<div onclick="document.querySelector('.mobile-menu').classList.toggle('hidden'); document.querySelector('.mobile-menu-icon').classList.toggle('is-active')">
  <button class="mobile-menu-icon hamburger hamburger--squeeze text-sm" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <div class="mobile-menu hidden">
    <ul class="absolute bg-white custom-mobile-menu z-10">
      <li>
        <a href="/">Titulinis</a>
        <hr class="my-2" />
      </li>
      <li class="relative">
      {% for category in site.data.categories %}
        <li>
          <a href="{{ category.url }}">
            {{ category.title }}
          </a>
          <hr class="my-2" />
        </li>
      {% endfor %}
      <li>
        <a href="/remigijus-jarmalavicius">Autorius</a>
        <hr class="my-2" />
      </li>
      <li>
        <a href="/kontaktai">Kontaktai</a>
      </li>
    </ul>
  </div>
</div>
