<div onclick="document.querySelector('.mobile-menu').classList.toggle('hidden')">
  <svg class="md:hidden" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 20 20"><path d="M3 11h14V9H3v2zm0 5h14v-2H3v2zM3 4v2h14V4H3z" fill="#626262" /></svg>
  <div class="mobile-menu hidden">
    <ul class="absolute bg-white custom-mobile-menu z-10">
      <li>
        <a href="/">Titulinis</a>
        <hr class="my-2" />
      </li>
      <li class="relative">
      {% for category in site.data.categories %}
        <li>
          <a href="{{ category.url }}">
            {{ category.title }}
          </a>
          <hr class="my-2" />
        </li>
      {% endfor %}
      <li>
        <a href="/remigijus-jarmalavicius">Autorius</a>
        <hr class="my-2" />
      </li>
      <li>
        <a href="/kontaktai">Kontaktai</a>
      </li>
    </ul>
  </div>
</div>
