<div class="mb-4 py-4 flex justify-between">
  <div class="w-3/12 sm:w-4/12 custom-image-size pr-4 pt-2">
    {% if include.post.image %}
      {% responsive_image_block %}
        path: {{ include.post.image }}
        width: 400
      {% endresponsive_image_block %}
    {% endif %}
  </div>
  <div class="flex-1">
    <h3 class="font-semibold mb-2 text-xl">
      <a href="{{ include.post.url }}">
        {{ include.post.title }}
      </a>
    </h2>
    {% include post_subline.html post=post %}
    <p>
      {{ include.post.description }}
    </p>
  </div>
</div>

{% if include.forloop_last == false %}
  <hr class="my-4"/>
{% endif %}
