<div class="bg-white mb-4 custom-bottom-shadow">
  <div class="container mx-auto pt-4 pb-4">
    <div class="flex items-center justify-between">
      <div>
        <a href="/" class="font-semibold text-3xl text-gray-700 tracking-wide">
          Jarmalavicius.lt
        </a>
      </div>

      <div class="flex justify-end tracking-wide">
        <a href="/">Titulinis</a>
        <a href="javascript:void(0)" class="ml-8">
          Kategorijos
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" class="inline-block" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M16.293 9.293L12 13.586L7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z" fill="#626262"/></svg>
        </a>
        <a href="/remigijus-jarmalavicius" class="ml-8">Autorius</a>
        <a href="/kontaktai" class="ml-8">Kontaktai</a>
      </div>
    </div>
  </div>
</div>
