<div class="bg-white mb-4 custom-bottom-shadow">
  <div class="container mx-auto pt-4 pb-4 px-4 font-semibold">
    <div class="flex items-center justify-between">
      <div>
        <a href="/" class="text-3xl text-gray-700 tracking-wide">
          Jarmalavicius.lt
        </a>
      </div>

      <mobile-menu>
        <template slot="body">
          <ul class="absolute bg-white custom-mobile-menu">
            <li>
              <a href="/">Titulinis</a>
              <hr class="my-2" />
            </li>
            <li class="relative">
            {% for category in site.data.categories %}
              <li>
                <a href="{{ category.url }}">
                  {{ category.title }}
                </a>
                <hr class="my-2" />
              </li>
            {% endfor %}
            <li>
              <a href="/remigijus-jarmalavicius">Autorius</a>
              <hr class="my-2" />
            </li>
            <li>
              <a href="/kontaktai">Kontaktai</a>
            </li>
          </ul>
        </template>
      </mobile-menu>

      <ul class="hidden sm:flex justify-end tracking-wide">
        <li><a href="/">Titulinis</a></li>
        <li class="relative">
          <collapse-menu title="Kategorijos">
            <template slot="body">
              <ul class="bg-white absolute custom-menu ml-4 p-2">
                {% for category in site.data.categories %}
                  <li>
                    <a href="{{ category.url }}">
                      {{ category.title }}
                    </a>
                    {% if forloop.last == false %}
                      <hr class="my-2" />
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </template>
          </collapse-menu>
        </li>
        <li>
          <a href="/remigijus-jarmalavicius" class="ml-8">Autorius</a>
        </li>
        <li>
          <a href="/kontaktai" class="ml-8">Kontaktai</a>
        </li>
      </ul>
    </div>
  </div>
</div>
