<div class="bg-white mb-4 custom-bottom-shadow">
  <div class="container mx-auto pt-4 pb-4">
    <div class="flex items-center justify-between">
      <div>
        <a href="/" class="font-semibold text-3xl text-gray-700">
          Jarmalavicius.lt
        </a>
      </div>

      <div class="flex justify-end custom-link-styles">
        <a href="/">Titulinis</a>
        <a href="/remigijus-jarmalavicius">Autorius</a>
        <a href="/kontaktai">Kontaktai</a>
      </div>
    </div>
  </div>
</div>
