---
layout: default
---

<div class="custom-page-box p-4 sm:p-8 sm:rounded-lg">
  <h1 class="custom-page-title">
    Ieškoma <span class="js-keywords underline"></span>
  </h1>

  <hr class="mb-4"/>

  <div class="custom-page-content mb-8">
    <div class="hidden md:block js-loading">
      Ieškoma straipsnių, truputį palaukite...
    </div>
    <div class="sm:hidden">
      <div class="mb-2">
        Įveskite paieškos raktažodį:
      </div>
      <input type="text" class="w-full border rounded p-2 w-64" placeholder="Ieškoti straipsnių..." onkeyup="if (event.keyCode === 13 && event.target.value.length > 0) { window.location.href = '/paieska{{ site.ext }}?' + encodeURI(event.target.value).replace(/%20/, '+'); }">
    </div>
  </div>

  <div class="js-search-items">
    {% for post in site.posts %}
      <div class="hidden">
        <div class="js-search-item hidden">
          <div>
            {{ post.title }}
          </div>
          <div>
            {{ post.content | strip_html }}
          </div>
        </div>
        {% include post_row.html post=post forloop_last=forloop.last %}
      </div>
    {% endfor %}
  </div>
</div>

<script type="text/javascript">
  // Build simple animation while search is loading
  var isLoading = true;
  var loadingCount = 0;
  var loadingText = 'Ieškama straipsnių, truputį palaukite';
  var timer;
  function animateLoading() {
    if (!isLoading) return;

    loadingCount += 1;
    if (loadingCount === 4) loadingCount = 0;

    document.querySelector('.js-loading').innerHTML = loadingText + " .".repeat(loadingCount);

    timer = setTimeout(animateLoading, 500);
  }
  animateLoading();

  // Check if anything to search was requested
  if (!window.location.href.includes('?')) {
    isLoading = false;
    document.querySelector('.js-loading').innerHTML = 'Nėra straipsnio atitinkančių Jūsų raktažodį.';
  } else {
    // Cleanup search keyword
    var keywords = decodeURI(window.location.href.replace(/.*\?/, '')).replace(/\+/g, ' ');
    document.querySelector('.js-keywords').innerHTML = keywords;
    var words = keywords.replace(/[^a-zA-Z0-9ąčęėįšųūž ]/g, ' ').replace(/  +/g, ' ').toLowerCase().split(' ');
    words = words.filter(word => word.length > 2);

    // Find matching articles
    var placeholders = document.querySelectorAll('.js-search-item');
    var totalFound = 0;
    var i, n;
    for (i = 0; i < placeholders.length; i++) {
      var found = 0;
      var placeholder = placeholders[i];
      var missingWords = words;

      // Search by title and for every word give 3 points
      var title = placeholder.childNodes[1].innerHTML.toLowerCase();
      for (n = 0; n < words.length; n++) {
        if (title.includes(words[n])) {
          found += 3;
          delete missingWords[missingWords.indexOf(words[n])];
        }
      }

      // Search by description and for every word give 1 point
      var description = placeholder.childNodes[3].innerHTML.toLowerCase();
      for (n = 0; n < missingWords.length; n++) {
        if (description.includes(missingWords[n])) {
          found += 1;
        }
      }

      // Add points score directly to DOM elements
      if (found >= words.length) {
        totalFound += 1;
      }

      placeholder.parentNode.dataset.foundWords = found;
    }

    // Sort DOM results by best matches
    [...document.querySelectorAll('.js-search-item')]
      .map(x => x.parentNode)
      .filter(x => parseInt(x.dataset.foundWords) >= words.length)
      .sort((a, b) => parseInt(a.dataset.foundWords) > parseInt(b.dataset.foundWords) ? -1 : 1)
      .forEach(x => {
        x.classList.remove('hidden');
        document.querySelector('.js-search-items').appendChild(x);
      });

    // Stop search
    clearTimeout(timer);
    isLoading = false;

    // Show success or failure message on the top
    if (totalFound > 0) {
      document.querySelector('.js-loading').classList.add('hidden');
      document.querySelector('.js-loading').classList.remove('md:block');
    } else {
      document.querySelector('.js-loading').innerHTML = 'Nėra straipsnio atitinkančio Jūsų raktažodį. Pasitikrinkite rašybą.';
    }
  }
</script>
